<body>
    <header class="header">
        <div class="menu container">
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="menu">
            </label>
        </div>
    </header>
    <section class="nosotros container">
        <div class="nosotros-content">
            <h1>Haz tu reserva aquí:</h1>
            <form>
                <p class="nombre-input">Fecha: </p>
                <input type="date" class="input-input">
                <p class="nombre-input">Hora: </p>
                <select class="input-input">
                    <option value="9:00">9:00</option>
                    <option value="9:00">10:00</option>
                    <option value="9:00">11:00</option>
                    <option value="9:00">12:00</option>
                    <option value="9:00">13:00</option>
                    <option value="9:00">14:00</option>
                    <option value="9:00">15:00</option>
                </select>
                <p class="nombre-input">Numero de comensales: </p>
                <input type="number" class="input-input"><br>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <span class="logo"><img src="images/logoPNGHD.png"></span>
            </div>
            <div class="link">
                <ul>
                    <li><a href="https://instagram.com/" class="social-media"><img src="images/insta.png"></a></li>
                    <li><a href="https://facebook.com/" class="social-media"><img src="images/facebook.png"></a></li>
                    <li><a href="https://x.com/" class="social-media"><img src="images/twitter.png"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>