<body>
    <header class="header">
        <div class="menu container">
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="menu">
            </label>
        </div>
    </header>
    <section class="nosotros container">
        <div class="nosotros-content">
            <h1>Inicia sesión</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p class="nombre-input">Correo Electrónico: </p>
                <input type="email" class="input-input" formControlName="correo" required autocomplete="off">
                <div *ngIf="f['correo'].touched && f['correo'].invalid" class="error-message">
                    <p style="color: red;" *ngIf="f['correo'].errors?.['required']">El correo es obligatorio.</p>
                    <p style="color: red;" *ngIf="f['correo'].errors?.['email']">Por favor ingresa un correo válido.</p>
                </div>

                <p class="nombre-input">Contraseña: </p>
                <input type="password" class="input-input" formControlName="contrasena" required>
                <div *ngIf="f['contrasena'].touched && f['contrasena'].invalid" class="error-message">
                    <p style="color: red;" *ngIf="f['contrasena'].errors?.['required']">La contraseña es obligatoria.</p>
                </div><br>

                <button type="submit">Iniciar sesión</button>
            </form>

            <div *ngIf="errorMessage" class="error-message">
                <p style="color: red;">{{ errorMessage }}</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <span class="logo"><img src="images/logoPNGHD.png"></span>
            </div>
            <div class="link">
                <ul>
                    <li><a href="https://instagram.com/" class="social-media"><img src="images/insta.png"></a></li>
                    <li><a href="https://facebook.com/" class="social-media"><img src="images/facebook.png"></a></li>
                    <li><a href="https://x.com/" class="social-media"><img src="images/twitter.png"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
