<body>
    <header class="header">
        <div class="menu container">
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="menu">
            </label>
        </div>
    </header>

    <section class="nosotros container">
        <div class="nosotros-content">
            <h1>Sobre Nosotros</h1>
            <p>
                Bienvenidos a La Cabaña, un asador donde la tradición y el buen gusto se combinan para ofrecerte una
                experiencia gastronómica inolvidable.
                Desde nuestros inicios, nos hemos dedicado a perfeccionar el arte de la parrilla, seleccionando las
                mejores carnes y los ingredientes más frescos para garantizar la calidad en cada plato. Nuestra
                pasión
                por el buen asado nos ha llevado a ser un referente en la cocina local, atrayendo tanto a los
                amantes de
                la carne como a quienes buscan sabores auténticos y bien elaborados.
            </p>
            <p>
                En La Cabaña, nos enorgullece trabajar con proveedores locales, lo que nos permite ofrecerte
                productos
                de proximidad y de excelente calidad. Nuestras carnes, preparadas a la perfección en nuestra
                parrilla de
                leña, destacan por su jugosidad y sabor inigualable. Ya sea que disfrutes de un jugoso corte de
                ternera
                o de nuestro cordero asado al estilo tradicional, estamos seguros de que vivirás una experiencia que
                te
                hará querer volver.
            </p>
            <p>
                No solo nos centramos en la comida. Nuestro compromiso es crear un ambiente cálido y acogedor donde
                cada
                cliente se sienta como en casa. Con un servicio amable y profesional, buscamos que cada visita sea
                especial, ya sea que vengas en familia, con amigos o para una cena íntima. En cada rincón de nuestro
                restaurante se respira el amor por la cocina y la hospitalidad.
            </p>
            <p>
                Además, en La Cabaña valoramos la tradición sin dejar de lado la innovación. Nuestra carta incluye
                tanto
                los clásicos de siempre como nuevas propuestas que sorprenderán a los paladares más curiosos.
                Creemos
                que la comida es una forma de conectar, de compartir momentos inolvidables, y estamos encantados de
                ser
                parte de esos momentos.
            </p>
            <p>
                Te invitamos a conocernos, a disfrutar de nuestros platos, y a ser parte de la familia de La Cabaña.
                Estamos seguros de que, una vez que pruebes nuestros asados, entenderás por qué somos el lugar
                preferido
                de muchos.
            </p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <span class="logo"><img src="images/logoPNGHD.png"></span>
            </div>
            <div class="link">
                <ul>
                    <li><a href="https://instagram.com/" class="social-media"><img src="images/insta.png"></a></li>
                    <li><a href="https://facebook.com/" class="social-media"><img src="images/facebook.png"></a></li>
                    <li><a href="https://x.com/" class="social-media"><img src="images/twitter.png"></a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>